.loading-circle {
	background: rgba(255, 255, 255, 1) url(../loading-icon.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 35px;
	width: 98.58%;
	position: absolute;
	display: none;
}

.table-path a {
	cursor: pointer;
}
